{# Here i will be outputting some random data for testing purpose #}

<h3> Hello Guys </h3>
<p>This is the first templated i have generated in the custom made module</p>
<br>
<p>Boom and here comes the first variable <strong> {{var1}} </strong></p>
<p>Gotcha we got the second variable too <strong> {{var2}} </strong></p>
<ul>
  {% for item in var3 %}
    <li>
       {{ item }} 
    </li>        
  {% endfor %}    
</ul>